*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.text{
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #000;
    line-height: 1.7;
    margin: 0;
}
a{
    color: darkgrey;
    text-decoration: none;
}
.marginBottom20{
    margin-bottom: 20px;
}
.flex-container {
    display: flex;
    align-items: center;
}
.flex-item {
    flex: 1;
    padding: 10px;

}
.flex-item-30 {
    flex-basis: 30%;
}
.flex-item-70 {
    flex-basis: 70%;
}
.CV{
    max-width: 65%;
    margin: 50px auto 50px;
}
.face{
    max-width: 100%;
}
.fio{
    font-size: 35px;
}
.column1 {
    width: 200px;
}
.column2 {
    width: 80%;
}
.list{
    padding-left: 25px;
}
.subHeading{
    font-size: 20px;
    color: rgb(165, 165, 165);
}
header, footer{
    text-align: center;
}